services:
  gateway:
    container_name: pyrite_gateway
    hostname: gateway
    restart: unless-stopped
    # build:
    #   context: .
    #   dockerfile: Dockerfile.gateway
    # pull_policy: build
    image: local/pyrite:latest
    command: ./pyrite_gateway
    
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 500M
    env_file:
      - stack.env

  webserver:
    container_name: pyrite_http
    hostname: webserver
    restart: unless-stopped
    image: local/pyrite:latest
    command: ./pyrite_http
    # build:
    #   context: .
    #   dockerfile: Dockerfile.http
    # pull_policy: build
    ports:
      - "8008:8008"
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 500M
    env_file:
      - stack.env

  redis:
    container_name: pyrite_redis
    hostname: redis
    restart: unless-stopped
    image: redis:7.0-alpine
    volumes:
      - /redis_data:/data
    deploy:
      resources:
        limits:
          memory: 500M
    env_file:
      - stack.env
    command: /bin/sh -c "redis-server --save 60 1 --loglevel warning --requirepass $$REDIS_PASS"

  proxy:
    container_name: pyrite_nirn
    hostname: nirn
    restart: unless-stopped
    image: ghcr.io/germanoeich/nirn-proxy:v1.3.2
    #image: local/nirn:1.3.2
    deploy:
      resources:
        limits:
          memory: 500M
    env_file:
      - stack.env
